<p>
	<h4><strong>安卓手机设置<br></strong></h4>
	第一步: 设定(Setting)->更多网络(More networks)->VPN->基本VPN(Basic VPN)->点击“＋”。<br>
	第二步: 名称(Name)：随便。类型(Type)：选择PPTP。<br>
	第三步: 服务器地址(Server address)中输入95.215.45.247，然后点击“保存”。<br>
	第四步: 点击新建立的VPN，用户名(Username)中输入Email信息，密码(Password)中输入注册使用的密码，勾选“保存账户信息”，点击“连接”。<br>
	断开连接<br>
	第五步: 在安卓通知栏内，点击建立的VPN(钥匙图标)，选择“断开连接”即可中止。<br>
</p>