<p>
	<h4><strong>iPhone/iPad设置<br></strong></h4>
	第一步: 设置(Setting)->通用(General)->VPN->新添VPN配置(Add VPN Configuration)。<br>
	第二步: 选择PPTP。<br>
	第三步: 描述(Description)：随便。在服务器中(Server)输入95.215.45.247。<br>
	第四步: 在用户(Account)中输入Email信息。在密码(Password)中输入注册使用的密码。记得保存(Save)。<br>
	连接和断开<br>
	第五步: 确认选好的VPN已经打上勾。通过滑动屏幕上方的开关来连接或断开VPN。<br>
</p>