<p>
	<h4><strong>苹果 OSX 设置<br></strong></h4>
	第一步: 系统设置(System Preference)->网络(Network)->点+号新建服务。<br>
	第二步: 选择VPN->在VPN类型(VPN type)中选择PPTP。服务名称(Service Name)：随便。点击建立(Create)。<br>
	第三步: 在服务器地址(Server Address)输入95.215.45.247。<br>
	第四步: 在用户名(Account Name)中输入Email信息。在验证设置中(Authentication Settings)，输入密码(Password)。<br>
	第五步: 在高级(Advanced)选项中，选择所以通讯用VPN连接(Send all traffic over VPN connection)。确认返回。<br>
	第六步: 左下角选择在菜单栏显示VPN状态(Show VPN status in menu bar)。点击连接(Connect)。<br>
	断开和再次连接<br>
	第七步: 点击菜单栏上的VPN图标，选择断开或连接。<br>
</p>