<p>
	<h4><strong>Windows 7 设置<br></strong></h4>
	第一步: 开始菜单->搜索框内->输入VPN。<br>
	第二步: 选择新建VPN链接。<br>
	第三步: 在地址栏(Internet address)输入95.215.45.247。目标名称(Destination name)：随便。下一步(Next)。<br>
	第四步: 在用户名(Username)中输入Email信息。在密码(Password)中输入注册使用的密码。<br>
	第五步: 连接(Connect)。<br>
	断开和再次连接<br>
	第六步: 点击屏幕右下角的网络连接图标。选好VPN后，断开连接(Disconnect)或者连接(Connect)。<br>
</p>
