<!-- views/os.ejs -->
<!doctype html>
<html ng-app="ClientDownload" ng-controller="CDCtrl">
<head>
    <% include ./partials/head %>
    <title>{{osInfo.name}}</title>
</head>
<body>
<h3>Welcome to {{osInfo.name}}</h3>
<br>

<div ng-include src="'/'+osInfo.template" ></div>

<script>
var app = angular.module('ClientDownload', []);
app.controller('CDCtrl', function($scope){
    $scope.osInfo = JSON.parse('<%- osInfo %>');
});
</script>
</body>
</html>
