<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile</title>
    <% include ./partials/head %>
</head>
<body>
<div class="container" ng-app="AccordionOS">

    <div class="page-header text-center">
        <h1>一期测试中</h1>
        <h1><span class="fa fa-anchor"></span> 手动设置</h1>
        <a href="/logout" class="btn btn-default btn-sm">不玩了</a>
    </div>

    <div class="row" ng-controller="AccordionCtrl">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-10 col-sm-offset-1">
        <div class="well">
            <h2>以下设置，仅需完成一次</h2>
            <h3>
                <span class="fa fa-user"></span>
                <strong>{{user.local.email}}</strong>
                <p><br></p>
            </h3>
	
	    <accordion close-others="oneAtATime">	
	        <accordion-group ng-repeat="osInfo in osInfos" is-open="$parent.group[$index].open">
		    <accordion-heading >
            <div style="display: block; margin: 0px" ng-click="osSelected($index)">
		    <strong>{{osInfo.name}}</strong>
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group[$index].open, 'glyphicon-chevron-right': !(group[$index].open)}"></i>
            </div>
		    </accordion-heading>
            <div ng-include src="osInfo.template"></div>
	        </accordion-group>
	    </accordion>
            <p>
                什么，还有问题？<br>
                那微信，email，或者电话来找我吧<br>
            </p>

        </div>
	</div>
    </div>

</div>
<script>
    var app = angular.module('AccordionOS', ['ui.bootstrap']);
    app.controller('AccordionCtrl', function ($scope, $http) {
	    $scope.oneAtATime = true;
        $scope.user = JSON.parse('<%- user %>');
        $scope.osInfos = JSON.parse('<%- osInfos %>');

        $scope.osHaveSent = [];
        if($scope.user.hasOwnProperty('attributes') && $scope.user.attributes.hasOwnProperty('OSId'))
        {
            var userOs = $scope.user.attributes.OSId;
            for(var i = 0; i < userOs.length; ++i)
            { 
                $scope.osHaveSent[userOs[i]] = true;
            }
        }
        console.log($scope.osHaveSent);
        $scope.group = [];
        var osInfoLength = $scope.osInfos.length;
        for(var i = 0; i < osInfoLength; ++i)
        {
            $scope.group[i] = { open : false, osId : $scope.osInfos[i].id};
        }

        $scope.osSelected = function(id)
        {
            var activeOsList = [];
            var item = $scope.group[id];
            if(!(item.open) && $scope.osHaveSent[item.osId] != true)
            {
                console.log(" I am recording OS " + item.osId);
                activeOsList.push(item.osId);
                $http.post('/manual-os', {activeOsList : activeOsList});
                $scope.osHaveSent[item.osId] = true;
            }
        }
    });
</script>
</body>
</html>
